.graph {
    -fx-background-color: #E6F7FF; /* Updated background color */
}


.vertex:hover {
    -fx-stroke-width: 4;
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #FFD700; /* Updated edge stroke color */
    -fx-stroke-dash-array: 2 5 2 5;
    -fx-fill: transparent;
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge:hover {
    -fx-stroke-width: 4;
    -fx-cursor: hand; /* Change the cursor to a hand */
}


.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #5E2D79; /* Updated arrow stroke color */
    -fx-opacity: 0.8;
}

/* Custom vertex styles remain the same */

.service {
    /*-fx-stroke-width: 5;
    -fx-stroke: #FF7A5A;  Updated service stroke color
    -fx-stroke-type: inside;
    -fx-fill: #FFC3A0;  Updated service fill color
    */
    -fx-fill: url("file:microservice.png");
}

.topic {
    -fx-fill: url("file:queue.png");
}

.selectedEvent {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}