/* styles.css */
.form-label {
    -fx-font-size: 14pt;
    -fx-text-fill: #333333;
}

.form-button {
    -fx-font-size: 12pt;
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-padding: 10px 20px; /* Add some padding for better clickability */
    -fx-background-radius: 5px; /* Rounded corners */
}

.custom-table-view {
    -fx-background-color: #f2f2f2; /* Light grey background */
}

.table-column {
    -fx-alignment: CENTER; /* Center align the content in the table columns */
}